<footer id="footer" class="mt-5">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between py-5">
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-001">
          <div class="footer-intro mb-4">
            <a href="/">
              <img src="assets/images/st2i-logo.png" alt="logo" style="width: 150px; height: 90px;">
            </a>
          </div>
          <p>Test2i, votre solution intelligente pour automatiser, organiser et exécuter vos tests logiciels en toute simplicité.</p>
          <div class="social-links">
            <ul class="list-unstyled d-flex flex-wrap gap-3">
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#facebook"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#twitter"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#youtube"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#pinterest"></use>
                  </svg>
                </a>
              </li>
              <li>
                <a href="#" class="text-secondary">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="#instagram"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-002">
          <h5 class="widget-title text-uppercase mb-4">Liens rapides</h5>
          <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
            <li class="menu-item">
              <a href="/" class="item-anchor">ACCUEIL</a>
            </li>
            <li class="menu-item">
              <a href="/" class="item-anchor">À PROPOS</a>
            </li>
            <li class="menu-item">
              <a href="/" class="item-anchor">GÉNÉRATION DE TESTS</a>
            </li>
            <li class="menu-item">
              <a href="/" class="item-anchor">PROJETS</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">script</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-003">
          <h5 class="widget-title text-uppercase mb-4">Aide et informations</h5>
          <ul class="menu-list list-unstyled text-uppercase border-animation-left fs-6">
            <li class="menu-item">
              <a href="#" class="item-anchor">Track Your Order</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">Returns + Exchanges</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">Shipping + Delivery</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">Contactez-nous</a>
            </li>
            <li class="menu-item">
              <a href="#" class="item-anchor">Find us easy</a>
            </li>
            <li class="menu-item">
              <a href="/" class="item-anchor">Faqs</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="footer-menu footer-menu-004 border-animation-left">
          <h5 class="widget-title text-uppercase mb-4">Contactez-nous</h5>
          <p>
Avez-vous des questions ou des suggestions ? <a href="mailto:contact@yourcompany.com"
              class="item-anchor">test2i.st2i@gmail.com</a></p>
          <p>Besoin d'aide ? Appelez-nous : </p>
            <a href="tel:+43 720 11 52 78" class="item-anchor">+43 720 11 52
              78</a>
         
        </div>
      </div>
    </div>
  </div>
  <div class="border-top py-4">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>© Copyright 2026 ST2I. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</div>
</footer>
